.features-head {
  .grid {
    img {
      width: 200px;
      justify-self: flex-end;
    }
  }
}

.features-sub-head {
  .grid {
    img {
      width: 300px;
      justify-self: flex-end;
    }
  }
}