@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  color: $dark-color;
}

h1, h2 {
  line-height: 1.2;
  font-weight: 300;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $dark-color;
}

img {
  width: 100%;
}

code, pre {
  @include set-background($dark-color);
  padding: 0.8rem;
}

.hidden {
  visibility: hidden;
  height: 0;
}