@import 'config';
@import 'main';

#header {
  background-color: $primary-color;
  color: $white-color;
  height: 70px;

  .container {
    justify-content: space-between;

    #navbar ul li {
      display: inline-block;

      a {
        margin: 0 5px;
        padding: 10px;
        color: $white-color;

        &:hover {
          border-bottom: 2px solid $white-color;
        }
      }
    }
  }
}

#showcase {
  background-color: $primary-color;
  height: 400px;
  color: $white-color;
  position: relative;

  .container {
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
    justify-content: space-between;
    align-content: center;
    height: 100%;

    .showcase-text {
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: .8rem;
        margin-bottom: 1rem;
      }
    }

    .showcase-form {
      @include set-background($white-color);
      box-shadow: 0 5px 10px lighten($black-color, 30);

      h2 {
        margin: 1rem 0;
      }

      .form-control {
        margin-bottom: 1rem;

        input {
          width: 100%;
          border: none;
          outline: none;
          border-bottom: 2px solid fade-out($dark-color, .5);
          padding: 5px;
        }
      }
    }
  }
}

@import 'utilities';
