@import 'config';
@import 'main';

#header {
  background-color: $primary-color;
  color: $white-color;
  height: 70px;

  .container {
    justify-content: space-between;

    #navbar ul li {
      display: inline-block;

      a {
        margin: 0 5px;
        padding: 10px;
        color: $white-color;

        &:hover {
          border-bottom: 2px solid $white-color;
        }
      }
    }
  }
}

#showcase {
  background-color: $primary-color;
  height: 400px;
  color: $white-color;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: $white-color;
    @include set-transform(skewY(-3deg));
  }

  .container {
    grid-template-columns: 55% 45%;
    gap: 2rem;
    overflow: visible;

    .showcase-text {
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
      }
    }

    .showcase-form {
      height: 350px;
      position: relative;
      top: 60px;
      width: 400px;
      padding: 2.5rem;
      z-index: 100;
      justify-self: right;

      h2 {
        margin: 1rem 0;
      }

      .form-control {
        margin: 2rem 0;

        input[type='text'],
        input[type='email'] {
          width: 100%;
          border: none;
          outline: none;
          border-bottom: 1px solid fade-out($dark-color, 0.5);
          padding: 3px;
          font-size: 1rem;
        }
      }
    }
  }
}

@import 'utilities';
